<div>
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Project</th>
                <th>Report for</th>
                <th>Time start</th>
                <th>Time end</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span></span></td>
                <td>
                    <ui-select ng-model="project.id" theme="bootstrap" title="Choose a project">
                        <ui-select-match placeholder="Choose a project">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="project.id as project in projects | filter: $select.search">
                            <div ng-bind-html="project.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td><input type="text" ng-model="date_report"/></td>
                <td><input type="text" ng-model="time_start"/></td>
                <td><input type="text" ng-model="time_end"/></td>
                <td><input type="text" ng-model="comment"/></td>
            </tr>
            </tbody>
        </table>
    <!--<form>-->
        <!--<textarea class="form-control" id="" cols="50"></textarea>-->
        <!--<button>Submit</button>-->
    <!--</form>-->
    <button ng-click="addReport()">Add report</button>
</div>